/*
	Custom colors, flat design style
*/
body {
  padding-top: 50px;
  color: #3e3e3e !important;
}
h1 {
  font-family: "Lobster", sans-serif !important;
}
.back-to-top .fa {
  padding-right: 0.5em;
}
a,
a:hover,
.btn,
.btn:hover {
  -webkit-transition: all 0.2s ease-in-out !important;
  transition: all 0.2s ease-in-out !important;
}
.jumbotron {
  background: url('../images/helloworld-large.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #f9f9f9 !important;
  text-shadow: 0 0 10px #2d2e30;
}
.jumbotron,
.panel,
.navbar {
  border-radius: 0 !important;
}
#globe {
  cursor: pointer;
}
.browsehappy {
  margin: .2em 0;
  background: #fad44c;
  color: #3e3e3e;
  padding: 5px;
}
